.idea/
*.iml
*.iws
*.ipr
.vscode/
.DS_Store
Thumbs.db
*.log

Backend/HELP.md
Backend/target/
Backend/.mvn/wrapper/maven-wrapper.jar
Backend/.apt_generated
Backend/.classpath
Backend/.factorypath
Backend/.project
Backend/.settings
Backend/.springBeans
Backend/.sts4-cache
!Backend/**/src/main/**/target/
!Backend/**/src/test/**/target/

bin/
out/
